e<div class="user-details">
  <h1> Talks/Wokshops/Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Invited Conference Talks and Workshops </h3>
    <ul>
      <li> Mathplosion, Graphplosion, and Technology</li>
    </ul>
    <p>Graphplosion - Simple Graphs for Algebra (invited to present with Calvin Williamson): will be at the International Conference on Technology in Collegiate Mathematics (ICTCM), Chicago, IL, March 2017</p>
    <p>Online Office Hours and Collaborating with FIT Google: presented at a Faculty-to-Faculty workshop at the Fashion Institute of Technology, December 2015</p>
    <p>Rapid Creation of Graphs for Algebra - Jazz Up Your Course (invited to present with Calvin Williamson): at the Conference of the American Mathematical Association of Two Year Colleges (AMATYC), New Orleans, LA, November 2015</p>
    <p>Mobile First Math Content using Mathplosion (co-presented with Calvin Williamson): given at the International Conference on Technology in Collegiate Mathematics (ICTCM), Las Vegas, NV, March 2015</p>
    <p>Building Apps for Beginners with App Inventor (co-presented with Calvin Williamson): at a Faculty-to-Faculty workshop at the Fashion Institute of Technology, February 2015</p>
    <p>Driving Your Online Mathematics Course Using Google and Videos: presented at the Conference on Instruction and Technology (CIT), Cornell University, NY, May 2014</p>
    <p>Building a Better Course: Google Drive and ANGEL: (co-presented with Calvin Williamson): given at EduTech Day, New York, NY, November 2013</p>
    <p>Course Content with a Bang using Mathplosion (co-presented with Calvin Williamson): presented at the International Conference on Technology in Collegiate Mathematics (ICTCM), Boston, MA, March 2013</p>
    <p>Rapid Content Generation for Algebra and Statistics (co-presented with Calvin Williamson): presented at the Conference of the American Mathematical Association of Two Year Colleges (AMATYC), Jacksonville, FL, November 2012</p>
    <p>Utilizing Online Technology to Rapidly Generate Mathematics: presented at the Teaching Mathematics to a Digital Generation Conference (T3), Jamaica, NY, June 2012</p>
    <p>Mathplosion: Rapid Content Generation for Mathematics (co-presented with Calvin Williamson): presented at the Conference on Instruction and Technology (CIT), Stony Brook, NY, June 2012</p>
    <p>Creating Mathematics Content in the Cloud: presented at EduTech Day at the Fashion Institute of Technology, New York, NY, March 2012</p>
    <p>Rapid Content Generation for Mathematics (co-presented with Calvin Williamson): presented at the Conference of the American Mathematical Association of Two Year Colleges (AMATYC), Austin, TX, November 2011</p>
    <p></p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="escherex1" src="{{ "/assets/img/escherex1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Recipient of a Teaching with Technology Certificate </h3>
    <ul>
      <li> Reflective Teaching Portfolio</li>
    </ul>
    <p>Please feel free to read my Reflective Teaching Portfolio available as one of the samples from The Center for Excellence in Teaching at FIT.</p>
    <a class="project-link" href="http://www.fitnyc.edu/cet/teaching-with-tech.php">CET Teaching with Tech website</a>
  </div>
     <div class="contents-right">
    <h3> Course Creation </h3>
    <ul>
      <li>New Curriculum at FIT</li>
    </ul>
    <p>Co-Wrote Programming and Mobile Apps course (MA153); (Fall 2013) with Dr. Calvin Williamson</p>
    <p>Co-Wrote Basic Mathematics course (MA080); (Fall 2017) with Dr. Lasse Savola</p>
    <a class="project-link" href="https://catalog.fitnyc.edu/undergraduate/courses/ma/#courseinventory">Check it out and other MA courses</a>
  </div>
       <div class="contents-leftt">
    <h3> Open SUNY </h3>
    <ul>
      <li>Open SUNY Online Teaching Ambassador 2019</li>
    </ul>
    <p>Been teaching online courses for many years and I am honored for this recognition.</p>
    <a class="project-link" href="https://innovate.suny.edu/onlineteaching/engage/ambassadorprogram/ambassadors/2019ambassador-shloming/">Check it out</a>
  </div>
   <div class="contents-right">
    <h3> Other Mathematical Interests</h3>
    <ul>
      <li> Mathematical Poetry and Creating Mathematical Zines</li>
    </ul>
    <p>I write mathematical poetry. You can find some of my FIB poems on the online journal: The Fib Review.</p>
    <p>I create mathematical zines for fun.</p>
    <a class="project-link" href="http://www.musepiepress.com/fibreview/writers.html">Select Poems by Author Search</a>
  </div>
</div>
